/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-image: repeating-linear-gradient(
      var(--gradient-color-repeat, #d3d3d3) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      var(--gradient-color-repeat, #d3d3d3) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--gradient-color-from, #e7e7e7 0.01%),
      var(--gradient-color-to, #1a1a1a 100%)
    );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main, Inter), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-main, 400);
  font-size: 18px;
  color: var(--font-color, #000);
}

/* Класс для задания обводки разным элементам */

.bordered {
  border: 2px solid var(--font-color, #000);
}

/* ----------------------------------HEADER------------------------------------------- */

/* Обложка с заголовками и меню */

.cover {
  background-color: var(--background-color, #fff);
  inline-size: clamp(375px, 100%, 700px);
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
  justify-items: center;
  margin: 100px auto;
  padding: clamp(120px, 30vw, 136px) 0 30px;
}

/* Заголовок страницы */

.header-title {
  color: var(--font-color, #000);
  font-family: var(--font-family-accent, 'Press Start 2P'), fantasy;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header-link {
  text-decoration: none;
  cursor: pointer;
}

.header-link:focus {
  outline: none;
}

/* Подзаголовок страницы */

.header-subtitle {
  font-family: var(--font-family-accent, 'Press Start 2P'), fantasy;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  font-weight: var(--font-weight-accent, 700);
}
/* Меню тем */

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  padding-top: 5px;
  padding-left: 10px;
  inline-size: 84px;
  block-size: 70px;
}

/* Кнопка с темой */

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-family: var(--font-family-accent, 'Press Start 2P'), fantasy;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: normal;
  display: block;
  position: relative;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

/* Подчеркивание под кнопкой в фокусе */

.theme-menu__button::after {
  content: '';
  display: block;
  scale: 0;
  height: 3px;
  margin-top: 5px;
  background-color: var(--font-color, #000);
  transition: scale 0.5s ease;
  transform-origin: 0 0;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

/* Неактивный пункт меню */

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* Стрелка рядом с неактивным пунктом меню */

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -15px;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

/* ----------------------------------CONTENT------------------------------------------- */

/* Секция со статьями */

.content-section {
  inline-size: clamp(375px, 100%, 700px);
  margin: 0 auto;
}

/* Список статей */

.article-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Карточка со статьей */

.article-card {
  display: grid;
  grid-template-rows: min-content;
  background-color: var(--background-color, #fff);
}

/* Заголовок карточки со статьей */

.card-title {
  font-weight: var(--font-weight-accent, 700);
  font-variation-settings: 'wght' var(--font-weight-accent, 700);
  font-size: 18px;
  padding: 5px 10px 4px;
  border-block-end: none;
}

/* Обертка для картинки и лейбла */

.image-wrapper {
  position: relative;
}

/* Картинка, иллюстрирующая статью */

.card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

/* Лейбл в правом верхнем углу картинки */

.image-label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: clamp(10px, 2vw, 25px);
  color: var(--font-color, #000);
  font-family: var(--font-family-accent, 'Press Start 2P'), fantasy;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--stroke-color, #fff),
    0 1px var(--stroke-color, #fff),
    1px 0 var(--stroke-color, #fff),
    0 -1px var(--stroke-color, #fff);
}

@supports (
  (text-stroke: 1px var(--stroke-color, #fff)) or
    (-webkit-text-stroke: 1px var(--stroke-color, #fff))
) {

  .image-label {
    -webkit-text-stroke: 1px var(--stroke-color, #fff);
    text-stroke: 1px var(--stroke-color, #fff);
    text-shadow: none;
  }
}

/* Текст статьи */

.card-text {
  color: var(--font-color, #000);
  font-size: 18px;
  line-height: 21px;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: 25px;
  border-block-start: none;
}

.card-text-intro {
  grid-column: span 4;
}

.card-text-chatgpt {
  padding-block-start: 2px;
  grid-column: span 4;
}

/* Область с Like-кнопками под статьей */

.buttons-area {
  grid-area: 3 / 4 / 4/ 5;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  /* padding-block-start: 3px; */
  /* padding-block-end: 25px; */
}

/* Кнопка-сердечко */

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  height: 38px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--font-color, #000);
}

/* svg с сердечком */

/* .like-icon {
} */

/* Кнопка Like рядом с кнопкой-сердечком */

.card__like-button {
  padding: 6px 0;
  inline-size: 130px;
}

/* Общий стиль для кнопок */

.button {
  cursor: pointer;
  background-color: var(--background-color, #fff);
  position: relative;
}

/* Общий стиль текста на кнопках */

.button__text {
  font-family: var(--font-family-accent, 'Press Start 2P'), fantasy;
  font-size: 14px;
  /* z-index: 1; */
  color: var(--font-blend-color, #fff);
  mix-blend-mode: difference;
  text-align: center;
}

/* По наведению на кнопку должен плавно слева направо выезжать псевдоэлемент.
Добиться этого можно двумя путями: через scale от 0 до 1 или через translate от -100% по оси X до 0.
Во втором случае кнопке придётся задать overflow.
Плавность здесь — 0.5s ease-in-out. */

.button::before {
  content: '';
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: var(--font-color, #000);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 0;
  position: absolute;
  inset: 0;
}

.button:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--font-color, #000);
  transition: box-shadow 0.3s ease;
}

/* Искры вокруг иконки-седца */

.sparks {
  opacity: 0;
}

.button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: clamp(306px, 80vw, 339px);
  margin: 50px auto 100px;
  padding: 15px 0;
}

.floppy {
  inline-size: var(--floppy-size-s, 21px);
  block-size: var(--floppy-size-s, 21px);
  fill: var(--font-blend-color, #fff);
}

.floppy-dialog {
  inline-size: var(--floppy-size-l, 39px);
  block-size: var(--floppy-size-l, 39px);
}

.dialog-header {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  gap: 20px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog[open] {
  display: grid;
  flex-direction: column;
  gap: 28px;
  padding: 30px;
  background-color: var(--background-color, #fff);
  inline-size: clamp(341px, 90vw, 357px);
  /* max-block-size: 193px; */
  color: var(--font-color, #000);
}

.dialog-text {
  color: var(--font-color, #000);
  font-family: var(--font-family-accent, 'Press Start 2P'), fantasy;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  display: inline-block;
}

.button-ok {
  /* width: clamp(257px, 60vw, 293px); */
  width: 100%;
  height: 38px;
}

.floppy-button-save {
  inline-size: var(--floppy-size-s, 21px);
  block-size: var(--floppy-size-s, 21px);
}

.floppy-dialog-ok {
  inline-size: var(--floppy-size-l, 39px);
  block-size: var(--floppy-size-l, 39px);
}

/*--------------------------------------- FILTERS---------------------------------------- */

.grayscale_it {
  filter: grayscale(0.8);
}

.blur_it {
  filter: blur(3px);
}

.opacity_it {
  filter: opacity(40%);
}

.saturate_it {
  filter: saturate(75%);
}

.hue-rotate_it {
  filter: hue-rotate(-90deg);
}

.sepia_it {
  filter: sepia(80%);
}

.invert-it {
  filter: invert(0.7);
}

.filter-polly {
  filter: invert(1) brightness(50%) saturate(60%) hue-rotate(90deg);
}

@media (width <= 375px) {

  .card-title {
    padding: 4px 10px 3px;
  }

  .floppy {
    inline-size: var(--floppy-size-m, 28px);
    block-size: var(--floppy-size-m, 28px);
  }

  .button-save {
    flex-direction: column;
    justify-content: center;
  }

  .card-text {
    padding: 25px;
    border-block-start: 2px solid var(--font-color, #000);
  }

  .floppy-button-save {
    inline-size: var(--floppy-size-m, 28px);
    block-size: var(--floppy-size-m, 28px);
  }

  dialog[open] {
  }
}

