/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --background-color: #fff;
  --font-family-main: 'Inter';
  --font-family-accent: 'Press Start 2P';
  --font-color: #000;
  --font-blend-color: #fff;
  --font-weight-main: 400;
  --font-weight-accent: 700;
  --heart-contour: #000;
  --heart-main-body: #f00;
  --gradient-color-repeat: #d3d3d3;
  --gradient-color-from: #e7e7e7;
  --gradient-color-to: #1a1a1a;
  --stroke-color: #fff;
  --floppy-size-s: 21px;
  --floppy-size-m: 28px;
  --floppy-size-l: 39px;
}
